# yaml-language-server: $schema=../vendor/symfony/dependency-injection/Loader/schema/services.schema.json

# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.
# See also https://symfony.com/doc/current/service_container/import.html

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
    minio_endpoint: '%env(MINIO_ENDPOINT)%'
    minio_root_user: '%env(MINIO_ROOT_USER)%'
    minio_root_password: '%env(MINIO_ROOT_PASSWORD)%'
    minio_region: '%env(MINIO_REGION)%'
    minio_bucket_videos: '%env(MINIO_BUCKET_VIDEOS)%'
    minio_bucket_thumbnails: '%env(MINIO_BUCKET_THUMBNAILS)%'
    ffmpeg_path: '%env(FFMPEG_PATH)%'
    ffprobe_path: '%env(FFPROBE_PATH)%'
    video_temp_dir: '%env(VIDEO_TEMP_DIR)%'
    video_transcoding_resolutions: '%env(csv:VIDEO_TRANSCODING_RESOLUTIONS)%'

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'

    # Video Learning System Services
    App\Service\Storage\MinIOService:
        arguments:
            $endpoint: '%minio_endpoint%'
            $rootUser: '%minio_root_user%'
            $rootPassword: '%minio_root_password%'
            $region: '%minio_region%'
            $videoBucket: '%minio_bucket_videos%'
            $thumbnailBucket: '%minio_bucket_thumbnails%'

    App\Service\Video\VideoTranscodingService:
        arguments:
            $ffmpegPath: '%ffmpeg_path%'
            $ffprobePath: '%ffprobe_path%'
            $resolutions: '%video_transcoding_resolutions%'

    App\Service\Video\VideoProcessingService:
        arguments:
            $tempDir: '%video_temp_dir%'

